@charset "utf-8";

/* APPLICATION HEADER ======================================================= */
@media print { #header { display: none; } }
#header {
	display: block;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	background-color: rgb(0,20,10);
	color:rgb(40,130,52);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-weight   : 400;
	font-size     : 1.0rem;
	line-height   : 1.0rem;
	padding       : 0.5rem;
	padding-left  : 1.0rem;
	padding-right : 1.0rem;
} #header > * { display: inline-block; }
@media screen and (max-width: 500px) { #header { font-size: 1rem; } }
#header a          { text-decoration: none; color:inherit; }
#header a:hover    { color:white; }
#header h1         { font-size: inherit; }
#header h1 a#logo  { font-weight: 800; color: rgb(70,160,82); }
#header h1 i       { font-style: normal; font-weight: 400; }
@media screen and (max-width: 850px) { #header h1 i { display: none; } }
#header nav        { min-width: 5rem; }
#header nav a      { color: white; display: inline-block; }
#header nav a:hover{
	-webkit-transform:scale(1.5,1.5);
		 -moz-transform:scale(1.5,1.5);
			-ms-transform:scale(1.5,1.5);
			 -o-transform:scale(1.5,1.5);
					transform:scale(1.5,1.5);
}
#header nav a + a  { margin-left: 0.25em; }
#header nav a:before, #header span.github {
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
#header nav a#new:before { content: "\f15c"; font-size: 0.9em; position: relative; bottom: 0.05em; }
#header nav a#about:before { content: "\f1cd"; font-size: 0.9em; position: relative; bottom: 0.05em; }
#header nav a#primer:before { content: "\f05a"; }
#header nav a#bugs:before { content: "\f188"; }
span.github:before { content: "\f126"; font-size: 0.9em; margin-right: 0.25em;}
#header .warning,
#header .forkme {
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	font-size: 1rem !important;
	text-align: center;
	text-decoration: none;
	position: fixed;
	 -webkit-transform: rotate(45deg);
		  -moz-transform: rotate(45deg);
			 -ms-transform: rotate(45deg);
			  -o-transform: rotate(45deg);
	-webkit-box-shadow: 0px 1px 3px 0px rgba(50, 50, 50, 0.75);
		 -moz-box-shadow: 0px 1px 3px 0px rgba(50, 50, 50, 0.75);
			-ms-box-shadow: 0px 1px 3px 0px rgba(50, 50, 50, 0.75);
			 -o-box-shadow: 0px 1px 3px 0px rgba(50, 50, 50, 0.75);
					box-shadow: 0px 1px 3px 0px rgba(50, 50, 50, 0.75);
	z-index:9;
}
#header .warning {
	background-color : orange;
	color            : rgb(190,50,0);
	font-weight      : 800;
	font-size        : 0.8em;
	padding-left     : 3rem;
	padding-right    : 3rem;
	top              : 2rem;
	right            : -2.5rem;
}
#header .forkme {
	background-color : rgb(40,40,40);
	color            : white;
	font-size        : 0.5em;
	padding-left     : 3rem;
	padding-right    : 3rem;
	top              : 2rem;
	right            : -2.5rem;
}
#header .forkme:hover {
	background-color : white;
	color            : rgb(40,40,40);
}
