/* CODEMIRROR DIALOG    ----------------------------------------------------- */
/* Adapted from `CodeMirror/addon/dialog/dialog.css` ------------------------ */
.CodeMirror-dialog {
  z-index: 15;
  position: absolute;
  left: 0; right: 0;
  overflow: hidden;
  padding-left   : 1.0rem;
  padding-right  : 1.0rem;
  padding-top    : 0.6rem;
  padding-bottom : 0.4rem;
  font-size: 0.7rem;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: rgb(30,30,30);
  color: rgb(200,200,200);
}
.CodeMirror-dialog-top    { top   : 0; border-bottom: 1px solid #eee; }
.CodeMirror-dialog-bottom { bottom: 0; border-top   : 1px solid #eee; }
.CodeMirror-dialog input  {
  border: none;
  outline: none;
  background: transparent;
  width: 50em;
  color: white;
  font-size: 2em;
  font-family: Cousine, Consolas, Menlo, Monaco, "Lucida Console", "Liberation Mono", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
}
.CodeMirror-dialog button { }
