/* CODEMIRROR FOLD GUTTER    ------------------------------------------------ */
/* Adapted from `CodeMirror/addon/fold/foldgutter.css` ---------------------- */

.CodeMirror-foldmarker {
	cursor: pointer;
	line-height: .3;
	display: inline-block;
	-webkit-transform:scale(.7,.7);
		 -moz-transform:scale(.7,.7);
			-ms-transform:scale(.7,.7);
			 -o-transform:scale(.7,.7);
					transform:scale(.7,.7);
} .CodeMirror-foldmarker:after {
	display: inline-block;
	content: "…";
	font-family: Cousine, Consolas, Menlo, Monaco, "Lucida Console", "Liberation Mono", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace !important;
	font-size: 1rem;
	margin-left:1rem;
	padding-top:5px;
	padding-bottom: 5px;
	padding-left: 7px;
	padding-right: 7px;
	height:10px;
	bottom:5px;
	background-color: rgb(20,170,255);;
	color:white;
	-webkit-border-radius: 2px;
		 -moz-border-radius: 2px;
		  -ms-border-radius: 2px;
				  border-radius: 2px;
	position: absolute;
}

.CodeMirror-foldgutter {
	background-color: transparent;
	width: 1.5rem;
	/* Small triagles are not covered by default fonts on WinXP and Android. */
	font-family: Cousine, Consolas, "Lucida Sans Unicode", "Droid Sans Fallback", "Arial Unicode", Arial, serif;
}
.CodeMirror-foldgutter-open,
.CodeMirror-foldgutter-folded {
	cursor: pointer;
}
.CodeMirror-foldgutter-open:after {
	content: "▾"; /* U+25BE BLACK DOWN-POINTING SMALL TRIANGLE */
	color:rgb(200,200,200);
}
.CodeMirror-foldgutter-folded:after {
	content: "▸"; /* U+25B8 BLACK RIGHT-POINTING SMALL TRIANGLE */
	color:rgb(20,170,255);
}

.CodeMirror-gutter-elt {
	left:-0.5rem !important;
}
