[submodule "CodeMirror-MathJax"]
	path = CodeMirror-MathJax
	url = https://github.com/cben/CodeMirror-MathJax.git
	branch = gh-pages
[submodule "firepad"]
	path = firepad
	url = https://github.com/firebase/firepad.git
[submodule "CodeMirror"]
	path = CodeMirror
	url = https://github.com/codemirror/CodeMirror
	branch = direction
[submodule "firebase"]
	path = firebase
	url = https://github.com/firebase/firebase-bower.git
[submodule "MathJax"]
	path = MathJax
	url = https://github.com/mathjax/MathJax.git
	branch = master
[submodule "deployment/tls-certs-letsencrypt/dehydrated"]
	path = deployment/tls-certs-letsencrypt/dehydrated
	url = https://github.com/lukas2511/dehydrated
[submodule "deployment/tls-certs-letsencrypt/lexicon"]
	path = deployment/tls-certs-letsencrypt/lexicon
	url = https://github.com/AnalogJ/lexicon
