[submodule "CodeMirror-MathJax"]
	path = CodeMirror-MathJax
	url = https://github.com/cben/CodeMirror-MathJax.git
	branch = gh-pages
[submodule "firepad"]
	path = firepad
	url = https://github.com/firebase/firepad.git
[submodule "CodeMirror"]
	path = CodeMirror
	url = https://github.com/codemirror/CodeMirror
	branch = master
[submodule "firebase"]
	path = firebase
	url = https://github.com/firebase/firebase-bower.git
[submodule "MathJax"]
	path = MathJax
	url = https://github.com/mathjax/MathJax.git
	branch = master
