#logo {
  color: black; text-decoration: none;  /* Don't look like a link */
  display: inline-block; width: 4em;
}
.warning { color: orange; }

/* Horizontally center http://stackoverflow.com/a/10352525/239657 */
#status_container {
  position: fixed; top: 1ex; left: 0; right: 0;
  text-align: center;
}
#status {
  display: inline-block;
  padding: 0 0.5em; border-radius: 1ex;
  color: black; background-color: yellow;
  font-size: 150%; font-style: italic;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;  /* fast fade out */
}
#status.info {
  /* Explanation for http://cubic-bezier.com/#0,.3,.85,0 curve:
     quickly appear a tiny bit (10% at 5% time), then fade in slowly (50% at 80% time). */
  opacity: 0.8;
  -webkit-transition: opacity 2s cubic-bezier(0,.3,.85,0);
  transition: opacity 2s cubic-bezier(0,.3,.85,0);  /* slow appear */
}

@media print { #header { display: none; } }

#content { clear: both; }

@media screen { .CodeMirror { border: 1px solid silver; } }
@media print { .CodeMirror { border: 1px none; } }

/* Expand editor to fit most of the page. */
html, body, form, textarea, .firepad, .CodeMirror {
  height: 100%; width: 100%;
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
/* TODO: downsizing body is ugly but works better than downsizing form. */
body { height: 80%; width: 95%; }
/* These would make the editor exactly fill the available space,
   but also cause CM to auto-resize and never scroll
   (instead whole page scrolls), which makes CM slower.
  body { display: table; }
  form { display: table-row; } */

/* Font choices based on Math.SE: http://graphicdesign.stackexchange.com/a/12961 */
.CodeMirror {
  font-family: "Georgia", "Bitstream Charter", "David", "David CLM", "Times New Roman", "Times", serif;
}
/* markdown mode styles `...` and indented code blocks as "comment". */
.cm-comment, .cm-leadingspace, .cm-formatting-list, .cm-formatting-quote {
  /* Prefer Courier and similar serif monospaced fonts.
     Prefer Nimbus Mono L to Courier New -> Liberation Mono substitution
     on linux (it's metrically compatible but sans-serif). */
  font-family: "Courier 10 Pitch", "Nimbus Mono L", "Courier New", "Courier", "FreeMono", monospace;
}

/* Match h1..h6 default sizes in WebKit, Mozilla & IE as of 2013. */
pre.cm-header-1 { font-size: 2.00em; }
pre.cm-header-2 { font-size: 1.50em; }
pre.cm-header-3 { font-size: 1.17em; }
pre.cm-header-4 { font-size: 1.00em; }
pre.cm-header-5 { font-size: 0.83em; }
pre.cm-header-6 { font-size: 0.67em; }
/* Arbitrary margins for headers (non-hegligible but not too big). */
pre.cm-header { padding-top: 0.5em; padding-bottom: 0.5em; }
/* De-emphasize markup characters.  Whitewash colors by *0.4 factor. */
.cm-s-default .cm-formatting-header { color: #66F; }
.cm-s-default .cm-formatting-em { color: #666; }
.cm-s-default .cm-formatting-strong { color: #666; }
.cm-s-default .cm-formatting-code { color: #c96; }

.cm-s-default .cm-formatting-list { font-weight: bold; }
/* Want to disable/de-emphasize coloring of list lines, leaving only bullet colored.
   But can't, as long as color is important for lining up continuation lines.
.cm-s-default .cm-variable-2 { color: #003366; }
.cm-s-default .cm-variable-2.cm-formatting-list { color: #05a; }
.cm-s-default .cm-variable-3 { color: #005233; }
.cm-s-default .cm-variable-3.cm-formatting-list { color: #085; }
.cm-s-default .cm-keyword { color: #470052; }
.cm-s-default .cm-keyword.cm-formatting-list { color: #708; }
*/

/* exclude math from monospace style to avoid mathjax vertically
   squishing formulas, especially display. */
.cm-comment.inline_math, .cm-comment.display_math { font-family: serif; }
.display_math { width:100%; }

/* We set (in "renderLine" event) negative text-indent on indented lines,
   which if inherited by any nested inline-block breaks their positioning
   (math overlaps text, tabs become almost invisible).  Thanks to
   https://github.com/mathjax/MathJax/issues/473 for easy fix. */
.CodeMirror pre > * { text-indent: 0; }

/* Vertically center gutter markers - looks better on our variable-height
   padded headings. */
.CodeMirror-gutter-wrapper { height: 100%; }
.CodeMirror-gutter-elt { height: 100%; display: table; }
.CodeMirror-foldgutter-open,
.CodeMirror-foldgutter-folded {
    height: 100%; display: table-cell; vertical-align: middle;
    /* Small triagles are not covered by default fonts on WinXP and Android. */
    font-family: "Lucida Sans Unicode", "Droid Sans Fallback", "Arial";
}
